/*##########################################*/
/* General Declarations */
/*##########################################*/

:root {
  --IRIS: #4d5ae5;
  --OCEAN: #404bbf;
  --NAVY-BLUE: #2e2f42;
  --GREEN: #31d0aa;
  --SLATE: #434455;
  --LIGHT-SLATE: #8e8f99;
  --CORNFLOWER: #e7e9fc;
  --CLOUD: #f4f4fd;
  --NAVY-BLUE-modal: rgba(46, 47, 66, 0.4);
  --GRAY: rgba(46, 47, 66, 0.7);
  --WHITE: #fff;
  --DAIRY: #fcfcfc;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Sans Serif;
  background-color: var(--WHITE);
  color: var(--SLATE);
  width: 1440px;
}

h1,
h2,
h3,
ul,
p {
  padding-left: 0;
  margin: 0px;
}

/*#########################################*/
/* Container Styles */
/*#########################################*/

.container {
  width: 1158px;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
}

.hero-container,
.footer-container {
  width: 1440px;
  background-color: var(--NAVY-BLUE);
}

/*#########################################*/
/* Section Styles */
/*#########################################*/

.section {
  padding: 120px 0px;
}

.section.features {
  padding-bottom: 0;
}

.section-header {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-size: 36px;
  line-height: 1.1111111111;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

/*#########################################*/
/* Logo Styles */
/*#########################################*/

.logo {
  text-decoration: none;
  color: var(--IRIS);
  font-family: Raleway, Sans Serif;
  font-size: 18px;
  line-height: 1.16666666;
  font-weight: 800;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  padding: 1.5px 0px;
}

.header-logo {
  color: var(--NAVY-BLUE);
}

.footer-studio {
  color: var(--CLOUD);
}

/*#########################################*/
/* Header Styles */
/*#########################################*/

.menu-nav,
.address-links,
.features-list,
.what-we-do,
.team-list,
.filter-list,
.project-list {
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: var(--NAVY-BLUE);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.active-link,
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: var(--OCEAN);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.mail-link,
.tel-link {
  text-decoration: none;
  color: var(--SLATE);
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.mail-link:hover,
.tel-link:hover,
.mail-link:focus,
.tel-link:focus,
.mail-link:active,
.tel-link:active {
  color: var(--OCEAN);
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px;
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
}

.navigation {
  display: flex;
  align-items: center;
  column-gap: 76px;
}

.menu-nav {
  display: flex;
  column-gap: 40px;
}

.address-links {
  display: flex;
  column-gap: 40px;
}

/*#########################################*/
/* Hero Styles */
/*#########################################*/

.section.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 188px 0px;
  row-gap: 48px;
}

.main-header {
  color: var(--WHITE);
  text-align: center;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 1.12px;
}

.button-order-service {
  border-radius: 4px;
  background: var(--IRIS);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: 4px solid var(--IRIS);

  color: var(--WHITE);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;

  display: inline-flex;
  padding: 16px 32px;
}

.button-order-service:hover,
.button-order-service:focus,
.button-order-service:active {
  background: var(--OCEAN);
}

/*#########################################*/
/* Index Content Styles */
/*#########################################*/

.feature-item,
.team-member,
.project-title {
  color: var(--NAVY-BLUE);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.feature-item-content,
.project-type {
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.features-list {
  display: flex;
  column-gap: 24px;
}

.features-list-item {
  display: flex;
  flex-direction: column;
  flex-basis: 264px;
  row-gap: 8px;
}

.what-we-do {
  display: flex;
  padding-top: 72px;
  column-gap: 24px;
}

.we-do-item {
  line-height: 0px;
}

.team-list {
  display: flex;
  column-gap: 24px;
  padding-top: 72px;
}

.team-card {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
  row-gap: 32px;
}

.card-content {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.team-member {
  text-align: center;
}

.member-title {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/*#########################################*/
/* Footer Styles */
/*#########################################*/

.footer-container {
  background-color: var(--NAVY-BLUE);
}

.page-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 100px 0px;
  row-gap: 16px;
  max-width: 264px;
}

.page-footer > .logo {
  max-width: 115px;
}

.footer-text {
  color: var(--CLOUD);
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/*#########################################*/
/* Portfolio Content Styles */
/*#########################################*/

.filter-button {
  border-radius: 4px;
  background: var(--CLOUD);
  border: 1px solid var(--CORNFLOWER);
  color: var(--IRIS);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active,
.filter-active {
  background: var(--OCEAN);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  color: var(--WHITE);
  cursor: pointer;
}

.filter-list {
  display: flex;
  padding-top: 96px;
  justify-content: center;
  column-gap: 24px;
}

.filter-button {
  padding: 12px 24px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 72px;
  padding-bottom: 120px;
  column-gap: 24px;
  row-gap: 48px;
}

.project-card {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
  row-gap: 32px;
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
}

.project-card-content {
  display: flex;
  flex-direction: column;
  padding: 0px 16px;
  row-gap: 8px;
}
