/*##########################################*/
/* General Declarations */
/*##########################################*/

:root {
  --IRIS: #4d5ae5;
  --OCEAN: #404bbf;
  --NAVY-BLUE: #2e2f42;
  --GREEN: #31d0aa;
  --SLATE: #434455;
  --LIGHT-SLATE: #8e8f99;
  --CORNFLOWER: #e7e9fc;
  --CLOUD: #f4f4fd;
  --NAVY-BLUE-modal: rgba(46, 47, 66, 0.4);
  --GRAY: rgba(46, 47, 66, 0.7);
  --WHITE: #fff;
  --DAIRY: #fcfcfc;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Sans Serif;
  background: var(--WHITE);
  color: var(--SLATE);
  margin: 0px;
}

h1,
h2,
h3,
ul,
p {
  padding-left: 0;
  margin: 0px;
}

/*#########################################*/
/* Container Styles */
/*#########################################*/

.container {
  display: block;
  width: 1158px;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
}

/*#########################################*/
/* Section Styles */
/*#########################################*/

.section {
  padding: 120px 0px;
}

.section-header {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-size: 36px;
  line-height: 1.1111111111;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

/*#########################################*/
/* Logo Styles */
/*#########################################*/

.logo {
  text-decoration: none;
  color: var(--IRIS);
  font-family: Raleway, Sans Serif;
  font-size: 18px;
  line-height: 1.16666666;
  font-weight: 800;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  align-items: center;
}

.logo > p {
  padding: 0px 0px;
}

.header-logo {
  color: var(--NAVY-BLUE);
}

.footer-studio {
  color: var(--CLOUD);
}

/*#########################################*/
/* Header Styles */
/*#########################################*/

.menu-nav,
.address-links,
.features-list,
.what-we-do,
.team-list,
.filter-list,
.project-list {
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: var(--NAVY-BLUE);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.active-link,
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: var(--OCEAN);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.mail-link,
.tel-link {
  text-decoration: none;
  color: var(--SLATE);
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.mail-link:hover,
.tel-link:hover,
.mail-link:focus,
.tel-link:focus,
.mail-link:active,
.tel-link:active {
  color: var(--OCEAN);
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px 23px;
}

.page-header {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
}

.navigation,
.menu-nav,
.address-links,
.navigation > .logo,
.menu-nav-item,
.address-links-item {
  display: inline-block;
}

.navigation > .logo {
  margin-right: 76px;
}

.menu-nav-item,
.address-links-item {
  margin-right: 36px;
}

.menu-nav-item:last-child,
.address-links-item:last-child {
  margin-right: 0px;
}

/*#########################################*/
/* Hero Styles */
/*#########################################*/

.section.hero-section {
  background: var(--NAVY-BLUE);
  padding: 188px 0px;
}

.container.hero-container {
  text-align: center;
}

.main-header {
  margin-left: auto;
  margin-right: auto;
  color: var(--WHITE);
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 1.12px;
  margin-bottom: 48px;
  width: 496px;
}

.button-order-service {
  border-radius: 4px;
  background: var(--IRIS);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  color: var(--WHITE);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;

  padding: 14px 32px;
}

.button-order-service:hover,
.button-order-service:focus,
.button-order-service:active {
  background: var(--OCEAN);
}

/*#########################################*/
/* Index Content Styles */
/*#########################################*/

.feature-item,
.team-member,
.project-title {
  color: var(--NAVY-BLUE);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.feature-item-content,
.project-type {
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.features-list-item {
  display: inline-block;
  width: 264px;
  margin-right: 20px;
}

.features-list-item:last-child {
  margin-right: 0px;
}

.feature-item {
  margin-bottom: 8px;
}

.section.what-are-we-doing {
  padding-top: 0px;
}

.what-we-do {
  padding-top: 72px;
  line-height: 0px;
}

.we-do-item {
  display: inline-block;
  margin-right: 20px;
}

.we-do-item > img {
  display: block;
}

.we-do-item:last-child {
  margin-right: 0px;
}

.section.our-team {
  background: var(--CLOUD);
}

.team-list {
  padding-top: 72px;
}

.team-card {
  display: inline-block;
  background: var(--WHITE);
  margin-right: 20px;
  padding-bottom: 32px;
  border-radius: 0px 0px 4px 4px;
  background: --WHITE;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-card:last-child {
  margin-right: 0px;
}

.team-card > img {
  display: block;
  margin-bottom: 32px;
}

.card-content {
  background: var(--WHITE);
  text-align: center;
}

.team-member {
  margin-bottom: 8px;
}

.member-title {
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/*#########################################*/
/* Footer Styles */
/*#########################################*/

.page-footer {
  padding: 100px 0px;
  background: var(--NAVY-BLUE);
}

.page-footer a.logo > p {
  margin-bottom: 16px;
  padding: 1.5px 0px;
}

.footer-text {
  color: var(--CLOUD);
  line-height: 1.5;
  letter-spacing: 0.32px;
  width: 264px;
}

/*#########################################*/
/* Portfolio Content Styles */
/*#########################################*/

.filters {
  padding-top: 96px;
}

.filter-button {
  border-radius: 4px;
  background: var(--CLOUD);
  border: 1px solid var(--CORNFLOWER);
  padding: 11px 24px;

  color: var(--IRIS);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active,
.filter-active {
  background: var(--OCEAN);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  color: var(--WHITE);
  cursor: pointer;
}

.filter-list {
  text-align: center;
}

.filter-item {
  display: inline-block;
  margin-right: 20px;
}

.filter-item:last-child {
  margin-right: 0px;
}

.projects {
  padding: 72px 0px 120px;
}

.project-card {
  display: inline-block;
  margin-right: 20px;
  padding-bottom: 31px;
  border-bottom: 1px solid var(--CORNFLOWER);
  background: var(--WHITE, #fff);
}

.project-card:nth-child(3n) {
  margin-right: 0px;
}

.project-card:nth-child(n + 4) {
  margin-top: 48px;
}

.project-card > img {
  display: block;
  margin-bottom: 32px;
}

.project-card-content {
  padding: 0px 16px;
}

.project-title {
  margin-bottom: 8px;
}
